<!DOCTYPE html>
<html>
<head>
  <title>[AUTHOR] - [TITLE] — Play</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="author" content="[AUTHOR]">
  <link rel="stylesheet" href="style.css">
  
  [INTERPRETERHEAD]
  
</head>
<body class="play">
<div class="container">
<div class="coverimage"><span>[COVER]</span></div>
<div class="links">
<div class="smalltitle">[TITLE]</div>
<ul>
<li><a href="index.html">Home page</a></li>
<li><a href="source.html">Source text</a></li>
<li><a href="http://github.com/toolness/pancakes">GitHub</a></li>
</ul>
<ul>
<li><a href="http://pr-if.org/doc/play-if-card/play-if-card.html">How to play</a></li>
</ul>
</div>

<div id="gameport">
[INTERPRETERBODY]
</div>

</div>
<div class="interpretercredit"><a href="[INTERPRETERURL]">[INTERPRETERVERSION]</a></div>

<!-- We ought to really be adding these scripts to (extras).txt and linking
     to their copies in the current directory, but right now it's easiest
     for development to link directly to the originals. -->
<script src="../Templates/Pancakes/glkdata-utils.js"></script>
<script src="../Templates/Pancakes/weather-api.js"></script>

</body>
</html>
